* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Sección de la imagen */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; /* Ajusta según tus necesidades */
  background-color: #D2B48C; /* Color predeterminado */
  overflow: hidden;
}

#profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al contenedor */
}


#profile-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Sección de la información */
.info-section {
  width: 60%;
  padding: 20px;
  background-color: #f8d7da;
  overflow-y: auto;
}

/* Estilo de las pestañas */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.tab-button {
  padding: 15px 20px;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

.tab-content {
  padding-left: 20px;
  padding-top: 20px;
}

h1, h2 {
  margin-top: 20px;
  text-align: left;
}


.tab-button:hover {
  background-color: #FF6347;
  transform: scale(1.05);
}




ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 5px 0;
}
